body {
  font-family: "Raleway";
  color: #444444;
}

a {
  text-decoration: none;
  color: #fd680e;
}

a:hover {
  color: #ff8f4c;
  text-decoration: none;
}

h1,h2,h3,h5,.font-primary {
  font-family: "Raleway";
}



.header {
  padding: 10px 10px;
  position: relative;
  z-index: 10;
}

.header .logo {
  font-size: 38px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}

.header a,.header a:hover {
  color: #fff;
  text-decoration: none;
}



.nav-toggle {
  position: fixed;
  z-index: 15;
  right: 20px;
  top: 20px;
  border: 0;
  background: rgba(34, 34, 34, 0.5);
  line-height: 1;
  padding: 10px 12px;
  border-radius: 2px;
}

.nav-toggle i {
  color: #fff;
  font-size: 18px;
}




.content {
  width: 100%;
  height: 800px;
  margin-top: -80px;
  background: url("../img/hero-bg.jpg");
  background-size: cover;
  position: relative;
  z-index: 9;
}

.content-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.content-container h1 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  line-height: 56px;
  color: #222;
}

.content-container h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}



.email-form input {
  border-radius: 50px;
  box-shadow: none;
  font-size: 14px;
  border: 0;
  padding: 0px 15px 2px 20px;
  width: 250px;
  height: 40px;
  margin: 0 8px;
}

.email-form button {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: none;
  color: #fff;
  background: #fd680e;
}

.email-form button:hover {
  background: #fd8841;
}



section {
  padding: 80px 0;
}

.section-bg {
  background-color: #fff7f2;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
}

section hr {
  color: #fd680e;
  width: 100px;
  position: absolute;
  left: calc(50% - 40px);
  opacity: 1;

}


.about h3 {
  font-weight: 300;
  font-size: 26px;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding-bottom: 10px;
}

.about ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #fd680e;
}




.card-icon img {
  width: 70px;

}

.why-us .card {
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.why-us .card-icon {
  text-align: center;
  margin-top: -30px;

}

.why-us .card-body {
  padding-top: 12px;
}

.why-us .card-title {
  font-weight: 700;
  text-align: center;
}

.why-us .card-title a {
  color: #743e1d;
}

.why-us .card-title a:hover {
  color: #fd680e;
}

.why-us .card-text {
  color: #5e5e5e;
}





.faq {
  padding-bottom: 60px;
}

.faq-list {
  padding: 0;
  list-style: none;
}

.faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq-list a {
  display: block;
  position: relative;
  font-family: #fd680e;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}



a.collapsed {
  color: #343a40;
  text-decoration: none;
}

a.collapsed:hover {
  color: #fd680e;
}



.contact .info {
  color: #444444;
}

.contact .info i {
  font-size: 32px;
  color: #fd680e;
  float: left;
}

.contact .info p {
  padding: 15px 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

.contact .info a {
  text-decoration: none;
  color: #444444;
  
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5a2c10;
  color: #fff;
  line-height: 1;
  padding: 6px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
}

.contact .social-links a:hover {
  background: #fd680e;
  color: #fff;
}

.contact button {
  background: #fd680e;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact button:hover {
  background: #fd8841;
}




.footer {
  background: #2f1708;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

.footer .copyright {
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #fd680e;
}

.footer a:hover {
  color: #fd8841;
}



@media (max-width: 768px) {
  .header h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .content h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .email-form input {
    margin: 5px auto;
  }
}

@media (max-width: 768px) {
  .contact .social-links {
 margin-bottom: 20px;
  }
}